<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<item>
<title>Television en Vivo</title>
<link>ignorame</link>
<externallink>http://premium.exabytetv.info/HLSST/8474/8474-VRAVV-1011000011111011001011000111100-ExabyteTV.m3u8</externallink>
<thumbnail></thumbnail>
<fanart></fanart>
</item>

