<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<item>
<title>Kodi Puerto Rico v1.0.0 por iCarlitOuz</title>
<link>ignorame</link>
<externallink>ignorame</externallink>
<thumbnail></thumbnail>
<fanart>https://raw.githubusercontent.com/canegron/KodiPuertoRico/master/Images/fanart.jpg</fanart>
</item>

<item>
<title>Television en Vivo</title>
<link>ignorame</link>
<externallink>https://raw.githubusercontent.com/canegron/KodiPuertoRico/master/Menu/canales.xml</externallink>
<thumbnail>https://raw.githubusercontent.com/canegron/KodiPuertoRico/master/Images/logos/Canales-Locales.png</thumbnail>
<fanart>https://raw.githubusercontent.com/canegron/KodiPuertoRico/master/Images/fanart.jpg</fanart>
</item>

<item>
<title>Peliculas HD</title>
<link>ignorame</link>
<externallink>https://raw.githubusercontent.com/canegron/KodiPuertoRico/master/Menu/peliculas.xml</externallink>
<thumbnail></thumbnail>
<fanart>https://raw.githubusercontent.com/canegron/KodiPuertoRico/master/Images/fanart.jpg</fanart>
</item>